{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block head_title %} Try Django {% endblock head_title%} </title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport" />
	<link rel="stylesheet" href='{% static "css/base.css" %}' />
	<link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' />
	<link rel="stylesheet" href='{% static "css/bootstrap-theme.min.css" %}' />
</head>
<body>
	<div class="container">
		{% include "messages_display.html" %}
		{% block content %}


		{% endblock content %}

	</div>

	<script src='{% static "js/jquery.min.js" %}'></script>
	<script src='{% static "js/bootstrap.min.js" %}'></script>
</body>
</html>